#body__index,
#body__login,
.is-postPop {
    overflow: hidden;
}
.login__box {
    box-shadow: none;
    background-color: transparent;
}
.login__box input {
    background: #23232359;
    color: white;
    border-radius: 1rem 0 0rem 1rem;
}
.login__box button {
    border-radius: 1rem;
}

.login__box input::placeholder {
    color: #888888;
}
.login__box input:focus {
    background: #2a2a2a;
}
.control.has-icons-left .icon {
    color: gray;
}
.control.has-icons-left .input:focus ~ .icon {
    color: white;
}
.main__logo {
    width: 20%;
    margin: 6rem auto 0;
}
.main__logo path {
    transition: transform 0.5s;
    filter: drop-shadow(5px 3px 5px black);
}
.main__logo-text1 {
    fill: #fff;
}
.main__logo-text2 {
    fill: var(--brand-color);
}

.main__logo-text2 path {
    transition: transform 0.5s;
    animation: text 2s ease-in 5;
    transform: translatez(0);
}

.main__logo-text2 > path:nth-child(1n) {
    animation-delay: 310ms;
}
.main__logo-text2 > path:nth-child(2n) {
    animation-delay: 370ms;
}
.main__logo-text2 > path:nth-child(3n) {
    animation-delay: 430ms;
}
.main__logo-text2 > path:nth-child(4n) {
    animation-delay: 490ms;
}

@keyframes text {
    0% {
        transform: translate3d(0, 0, 0);
    }
    30% {
        transform: translate3d(0, 0, 0);
    }
    45% {
        transform: translate3d(0, 0.4rem, 0);
    }
    100% {
        transform: translate3d(0, 0, 0);
    }
}
